h1 {
  letter-spacing: -0.15rem;
}

h2 {
  letter-spacing: -0.10rem;
}

h3 {
  letter-spacing: -0.05rem;
}

p, div {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -.025rem;
}

.text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -.025rem;
  max-width: 70ch;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
 }

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
 }

 .text-base {
  font-size: 1rem;
  line-height: 1.5rem;
 }

 .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
 }

 .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
 }

 .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
 }

 .text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
 }

 .text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
 }

 .text-5xl {
  font-size: 3rem;
  line-height: 1;
 }

 @media only screen and (min-width: 768px) {
   .text-xl {
    font-size: 1.75rem;
    line-height: 2.25rem;
   }
  
   .text-2xl {
    font-size: 2rem;
    line-height: 1;
   }
  
   .text-3xl {
    font-size: 2.5rem;
    line-height: 1;
   }
  
   .text-4xl {
    font-size: 3rem;
    line-height: 1;
   }
  
   .text-5xl {
    font-size: 4.5rem;
    line-height: 1;
   }
}