@import '/styles/variables';
@import 'styles/typography';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: $gray-100;
  background: $gray-gradient-100;
  color: $gray-800;
  font-family: 'Inter', sans-serif;
}

a {
  color: $blue-500;
  text-decoration: none;
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    color: $blue-200;
  }
}

img {
  max-width: 100%;
}

figcaption {
  font-weight: 700;
}

nav {
  margin: 1rem auto 5rem;
  padding: .75rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  margin-left: 1rem;

  @media only screen and (min-width: 768px) {
    margin-left: 2rem;
  }
}

.logo-link {
  margin-right: auto;
}

.logo-img {
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16.000000pt' height='16.000000pt' viewBox='0 0 16.000000 16.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ALogo image%0A%3C/metadata%3E%3Cg transform='translate(0.000000,16.000000) scale(0.001724,-0.001724)' fill='%2311497f' stroke='none'%3E%3Cpath d='M3629 9223 c-11 -3 -1442 -1424 -1493 -1483 -3 -3 -7 -18 -10 -32 -4 -25 172 -204 2006 -2038 1653 -1652 2016 -2010 2037 -2010 22 0 164 137 773 743 410 408 749 752 753 765 6 20 -239 268 -2003 2031 -1105 1105 -2018 2013 -2028 2018 -10 5 -26 8 -35 6z'/%3E%3Cpath d='M2339 4878 c-605 -609 -749 -758 -749 -779 0 -21 363 -390 2013 -2043 l2014 -2017 27 13 c29 12 1489 1466 1506 1499 6 9 7 26 3 36 -10 28 -4009 4022 -4038 4033 -26 10 -55 -19 -776 -742z'/%3E%3C/g%3E%3C/svg%3E");
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  padding: 3rem 0;
  margin-top: 3rem;
  color: $gray-600;
  border-top: 1px solid $gray-200;
  font-size: .875rem;

  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    padding: 4rem 0;
  }
}

.copyright {
  text-align: center;

  @media only screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-links {
  margin: 0 -.75rem 1.5rem;
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: 1200px) {
    margin: 0 -.75rem 0 2rem;
  }
}

.footer-link {
  margin: 0 .75rem;
}

.not-found {
  text-align: center;
}
.not-found a {
  color: $blue;
  text-decoration: underline;
}

.bolded-list {
  font-weight: 700;
  list-style-type: "ï¼ƒ";
  line-height: 1.5;

  li {
    padding-left: .25rem;
  }
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  
  &__outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (min-width: 480px) { 
      width: 50%;
    }

    @media (min-width: 1024px) { 
        width: 33.33%;
    }
  }

  &__image {
    position: relative;
    height: 250px;
  }

  &__title {
    margin: 1.5rem 0 1rem;
    font-weight: 700;
  }
}