@import '/styles/variables';

body {
  background: $gray-100;
  color: $gray-800;
  font-family: 'Inter', sans-serif;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
.nav-link {
  margin-left: 12px;
}
.logo-link {
  margin-right: auto;
}
.logo-img {
  background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='16.000000pt' height='16.000000pt' viewBox='0 0 16.000000 16.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ALogo image%0A%3C/metadata%3E%3Cg transform='translate(0.000000,16.000000) scale(0.001724,-0.001724)' fill='%2311497f' stroke='none'%3E%3Cpath d='M3629 9223 c-11 -3 -1442 -1424 -1493 -1483 -3 -3 -7 -18 -10 -32 -4 -25 172 -204 2006 -2038 1653 -1652 2016 -2010 2037 -2010 22 0 164 137 773 743 410 408 749 752 753 765 6 20 -239 268 -2003 2031 -1105 1105 -2018 2013 -2028 2018 -10 5 -26 8 -35 6z'/%3E%3Cpath d='M2339 4878 c-605 -609 -749 -758 -749 -779 0 -21 363 -390 2013 -2043 l2014 -2017 27 13 c29 12 1489 1466 1506 1499 6 9 7 26 3 36 -10 28 -4009 4022 -4038 4033 -26 10 -55 -19 -776 -742z'/%3E%3C/g%3E%3C/svg%3E");
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin: 3rem -1rem 0 -1rem;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.footer-links {
  margin: 0 1rem;
}

.not-found {
  text-align: center;
}
.not-found a {
  color: $blue;
  text-decoration: underline;
}
